<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Test automtion regression suite" verbose="1"
	thread-count="3" parallel="tests">

	<test name="Freshworks - Chrome test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="WM.FreshWorksTest" />
		</classes>
	</test>

	<test name="Freshworks - Firefox test">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="WM.FreshWorksTest" />
		</classes>
	</test>



</suite>